{
	frankenphp {
		num_threads 64
	}
	order php_server before file_server
}

localhost {
	tls /certs/localhost.pem /certs/localhost-key.pem
	
	#@phpmyadmin {
	#	path /phpMyAdmin5
	#
	#handle @phpmyadmin {
	#	reverse_proxy /phpMyAdmin5/* http://127.0.0.1:8080
	#}

	log {
		output file /var/log/caddy/localhost_access.log
		format console
	}

	reverse_proxy http://127.0.0.1:8080
}

mediplace.test {
	tls /certs/mediplace.test.pem /certs/mediplace.test-key.pem

	# Définir le répertoire racine sur le dossier public/
	root * /{$CUSTOM_PATH}/api-mediprix/public/

	# Autoriser la compression (optionnel)
	encode br gzip

	log {
		output file /var/log/caddy/mediplace_access.log
		format console
	}

	@robots {
        path /robots.txt
    }
    handle @robots {
        header Cache-Control "public, max-age=86400"
        file_server
    }

	# Exécuter les scripts PHP du dossier public/ et servir les assets
	php_server {
		index index.php

		# Required for the public/storage/ directory...
		resolve_root_symlink
	}
}

mediprix-v2.test {
	tls /certs/mediprix-v2.test.pem /certs/mediprix-v2.test-key.pem
	# Définir le répertoire racine sur le dossier public/
	root * /{$CUSTOM_PATH}/mediprix-v2/public/
	# Autoriser la compression (optionnel)
	encode br gzip
	log {
		output file /var/log/caddy/mediprix-v2_access.log
		format console
	}
	@robots {
        path /robots.txt
    }
    handle @robots {
        header Cache-Control "public, max-age=86400"
        file_server
    }
	# Exécuter les scripts PHP du dossier public/ et servir les assets
	php_server {
		index index.php
		# Required for the public/storage/ directory...
		resolve_root_symlink
	}
}

pharmacie-gespe.test {
	tls /certs/pharmacie-gespe.test.pem /certs/pharmacie-gespe.test-key.pem
	# Définir le répertoire racine sur le dossier public/
	root * /{$CUSTOM_PATH}/mediprix-v2/public/
	# Autoriser la compression (optionnel)
	encode br gzip
	log {
		output file /var/log/caddy/pharmacie-gespe_access.log
		format console
	}
	@robots {
        path /robots.txt
    }
    handle @robots {
        header Cache-Control "public, max-age=86400"
        file_server
    }
	# Exécuter les scripts PHP du dossier public/ et servir les assets
	php_server {
		index index.php
		# Required for the public/storage/ directory...
		resolve_root_symlink
	}
}

pharmacie-perols.test {
	tls /certs/pharmacie-perols.test.pem /certs/pharmacie-perols.test-key.pem
	# Définir le répertoire racine sur le dossier public/
	root * /{$CUSTOM_PATH}/mediprix-v2/public/
	# Autoriser la compression (optionnel)
	encode br gzip
	log {
		output file /var/log/caddy/pharmacie-perols_access.log
		format console
	}
	@robots {
        path /robots.txt
    }
    handle @robots {
        header Cache-Control "public, max-age=86400"
        file_server
    }
	# Exécuter les scripts PHP du dossier public/ et servir les assets
	php_server {
		index index.php
		# Required for the public/storage/ directory...
		resolve_root_symlink
	}
}

fluxdeflammes.test {
	tls /certs/fluxdeflammes.test.pem /certs/fluxdeflammes.test-key.pem
	# Définir le répertoire racine sur le dossier public/
	root * /{$CUSTOM_PATH}/fluxdeflammes/public/
	# Autoriser la compression (optionnel)
	encode br gzip
	log {
		output file /var/log/caddy/fluxdeflammes_access.log
		format console
	}
	@robots {
        path /robots.txt
    }
    handle @robots {
        header Cache-Control "public, max-age=86400"
        file_server
    }
	# Exécuter les scripts PHP du dossier public/ et servir les assets
	php_server {
		index index.php
		# Required for the public/storage/ directory...
		resolve_root_symlink
	}
}
